/* generell */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100%;

  background-color: #e9e6e681;
  padding: 3rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
/* Show Coins */

.coinCard {
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgb(127, 197, 255);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.coinName {
  width: 50%;
  text-wrap: nowrap;
}

.coinLogo {
  width: 50%;

  display: flex;
  justify-content: end;
}

.logoPic {
  width: 25%;
}

.showCoins {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-width: 50%;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  overflow-x: auto;
}

.coinsList {
  padding-bottom: 1rem;
  text-align: center;
}

/* Show Trades */

.tradeTable {
  margin-top: 5rem;
  height: 100vh;
  overflow: auto;
}

.pairCard {
  background-color: rgb(127, 197, 255);

  padding: 1rem;

  border-radius: 20px;

  margin: 1rem;
}
.tradeCard {
  display: flex;

  margin: 0.5rem;

  gap: 8rem;
}

.tradeButtom {
  background: none repeat scroll 0 0 transparent;
  border: none;
  width: inherit;
}

.pricesPart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coinsPart {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 5rem;
}

.priceReport {
  text-wrap: nowrap;
}
.pairOne {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pairTwo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pairPrice {
  width: 25%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.pairName {
  padding-bottom: 1rem;

  font-weight: bolder;
}

.coinLogo {
  max-width: 200px;

  display: flex;
  justify-content: end;
}

.tradeList {
  padding: 1rem 0;
  text-align: center;
}

/* chart card */

.chartCard {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

@media screen and (min-width: 200px) {
  .pairCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .showCoins {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }

  .tradeCard {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
  }

  .coinLogo {
    min-width: 50px;
    max-width: 100px;
  }

  .coinsPart {
    width: initial;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .pairPrice {
    width: initial;
  }
}

@media screen and (min-width: 370px) {
  .coinsPart {
    width: initial;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .showCoins {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-width: 50%;
    gap: 1rem;
  }

  .tradeCard {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;

    gap: 3rem;
  }

  .coinsPart {
    flex-direction: row;
  }

  .coinLogo {
    max-width: 150px;
  }
}

@media screen and (min-width: 880px) {
  .showCoins {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-width: 50%;
    gap: 1rem;
  }

  .tradeCard {
    display: flex;

    margin: 0.5rem;

    gap: 5rem;
  }

  .pairCard {
    display: flex;
    justify-content: space-between;
  }
}
